/* Estilos para todo el cuerpo del documento */
body {
    background-image: url(../img/problem.png);
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    }
    
    /* Estilos para los enlaces */
    a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #fb0707;
    color: #fff;
    text-decoration: none;
    }
    
    /* Estilos para los enlaces al pasar el cursor por encima */
    a:hover{
    background-color: rgb(38, 190, 53);
    }
    
    /* Estilos para los títulos principales */
    h1 {
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;        
    text-align: center;
    margin-top: 30px;
    }
    
    /* Estilos para el formulario */
    form {
    background-color: #fff;
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    height: 65vh;
    }
    
    /* Estilos para los campos de texto y área de texto del formulario */
    input[type="text"], textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    }
    
    /* Estilos para las etiquetas del formulario */
    label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    }
    
    /* Estilos para el botón de enviar el formulario */
    button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    float: right;
    }
    
    /* Estilos para el botón de enviar el formulario al pasar el cursor por encima */
    button[type="submit"]:hover {
    background-color: #ff1a16;
    }